@font-face {
    font-family: 'KHGummi';
    src: url('./fonts/KHGummi.otf') format('opentype');
}



.gummi {

    font-family: 'KHGummi';

}


.quote-banner {
    color: #e2e2e2;
    padding: 20px;
    font-family: 'KHGummi';
    
}

.card-footer {
    background: transparent;
    border-top: 0;
}

.card-link {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #007bff;
}

/* Additional styling for the blockquote */
.blockquote {
    font-style: italic;
    color: #6c757d;
}

.blockquote-footer {
    color: #6c757d;
}
